/* reset option */
* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

/* common */

body {
    font-family: 'Inter', sans-serif;
   
}

.background_white_2{
    
    background: white;
}
.yellow {
    
    background-color: yellow;
    border: 1px solid black;
}

.aqua{
    
    height: 45px;
    background-color: aqua;
    border: 1px solid black;
    opacity: 0.5;
}

.green {
    height: 50px;
    background-color: rgba(50, 255, 50, 0.2);
    border: 1px solid lightgreen;
   
}

.white{
    color: white;
}

.width_80_lg_100_xs_md {
    width: 80%;
}

h1{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
h2 {
    color: #031c4e;
    font-weight: 600;
    font-size: 31px;
}

h4{
    
    font-weight: 700;
    color: #031c4e;
}

.blue{
    color: #006aff;
}

.paragraph {
    font-weight: 500;
    font-size: 21px;
    color: #bbcdff;
}

.font_mini{
    padding-bottom: 35px;
    font-weight: 600;
    font-size: 13px;
    color: #34476f;
}

.text_decoration {
    color: #2a82ff;
    text-decoration: underline;
}


form {
    padding:10px;
}

input{
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
    font-weight: 500;
    border: 1px solid lightgray;
}

.button_jumbotron{
    margin: 5px 0px;
    width: 100%;
}

.margin_top{
    margin-top: 40px;
}

.inline_block{
    width: 30px;
    height: 50px;
    background-color: yellow;
    display: inline-block;
}

.list_style_2{
    font-weight: 500;
    padding: 10px;
    font-size: 18px;
    list-style: none;
    color: #79839c;
}

#div1{
    width: 30%;
    display: inline-block;
}
#div2{
    width: 70%;
    display: inline-block;

}

/* bar_top_fixed */


nav .list_style > a:hover {
    color:#006aff;;
}

#container-nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.btn-primary.button_nav:hover {
    color: #fff;
    background-color: #006aff;
    border-color: #204d74;
}

.nav_fixed {
    border-bottom: 2px solid rgb(0, 105, 255);
    height: 80px;
    line-height: 80px;
    background-color: white;
    
}

.ms_container_list_none{
   
    
    border-bottom: 2px solid rgb(0, 105, 255);
}

.list_style {
    vertical-align: middle; 
    text-decoration: none;
    padding: 0px 5px;
    font-weight: 600;
    display: inline-block;
}

.list_style > a:not(.button_nav){
    padding: 24px 0px;
    font-size: 15px;
    vertical-align: middle;
    color: #0b2353;
}

.list_style:focus{
    border-bottom: 4px solid rgb(0, 105, 255);
}


.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 700;
    line-height: 1.42857143;
    color: #0b2353;
    white-space: nowrap;
}


.display_inline_block{
    display: inline-block !important;
}

/* logo nav bar fixed top */
#logo {
    vertical-align: middle;
    width: 200px;
}

.ms_button { 
    float: none;
    vertical-align: middle;
}

.ms_icon_3_span {
    background-color:#3a8aff;
}

a.button_nav{
    font-weight: 700;
    color: #006aff;
    border: 1px solid #006aff;
    background-color: white;
}
/* bar-top-fixed */

/* header */
#ms_jumbotron{
    padding-top: 120px;
    padding-bottom: 70px;
    background-image: url(../img/bg-banner-home.jpg); 
}

#jumbotron_right {
    height: 80%;
    border-radius: 5px;
    background-color: white;
}
#button_google{
    position: relative;
}
#google_icon {
    position: absolute;
    top: 15%;
    left: 1%;
    width: 5%;
}

header #jumbotron_right .font_mini > a{
    text-decoration: underline;
}
.font_mini > a:hover{
    color: #1639ff;
}

#jumbotron_right a:hover{
    text-decoration: none;
    color: #1639ff;
}


/* main */

section a:hover{
    text-decoration: none;
    color: #1639ff;
}
/* section 1/7 */
#section_businesses{
    padding-top: 50px;
    padding-bottom: 40px;
    background: #f3f5f9;
}
#h4_section_businesses{
    font-size: 17px;
    color: #737e9a;
}

#images_businesses {
    line-height: 100px;
    padding: 20px;
}

#images_businesses  img{
    width: 15%;
    margin-right: 15px;
}

.text_blue{
    font-weight: 600;
    font-size: 15px;
    color: #0f72fe;
}

/* section 2/7 */
#section_deploy {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}

#section_deploy p {
    color: #5c6a88;
}

#section_deploy img{
    margin-bottom: 10px;
}

#section_deploy .paragraph_2{
    font-size: 15px;
    margin-bottom: 35px;
    font-weight: 500;
    color: #606e8b;
}


#section_deploy ul{
    margin-top: 40px;
    border-left: 2px solid lightgray;
}

.container_nested{
    margin-top: 30px;
}


/* section 3/7 */
#section_designed {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f3f5f9;
}

#section_designed > .paragraph {
    color: #586686;
}

#section_designed .paragraph_2 {
    font-size: 17px;
    margin-top: 20px;
    font-weight: 500;
    color: #031c4e;
}

#section_designed img {
   
    width: 50%;
}


#slide_chavron{
    margin-top: 70px;
}

.cirlce_color{
    color: #006aff;
}

.chavron_left{
    padding: 20px;
    font-size: 40px;
    color:#031c4e ;
    opacity: 0.5;
    
}

.chavron_right{
    padding: 20px;
    font-size: 40px;
    color:#031c4e ;
}

/* section 4/7 */

#section_features {
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: white;
}

#section_features > h2{
    margin-bottom: 50px;
}

#section_features .paragraph_2{
    font-size: 15px;
    font-weight: 500;
    color: #606e8b;
}

#section_features img{
    margin-bottom: 20px;
}


/* section 5/7 */
#section_service .text_green:hover{
    color: #04faff;
}

#section_service{
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: linear-gradient(#0044c3, #001e9a);
    
}
.color_city {
    color:#a0b4e1;
}
.text_green{
    color: #00cbcf;
}

.margin{
    margin: 1px;
}

.padding_section_5{
    padding: 10px;
}

.border_bottom{
    border-bottom: 1px solid white;
}

#section_service .col-lg-2 {
    text-transform: uppercase;
    text-align: left;
}



#section_service .border_bottom > .row {
    padding: 10px;
}

#section_service .text_blue{
    display: block;
    text-align: right;
}



/* section 6/7 */

#section_development{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f3f5f9;
}
.background_white{
    position: relative;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 70px;
    background: white;
}

#section_development img{
    width: 60%;
}

#section_development .paragraph{
    margin-top: 10px;
    font-size: 19px;
    color: #5c6a88;

}
.color_section_6{
    font-size: 16px;
    font-weight: 700;
    color: #031c4e;
}
.font_weight-500{
    font-size: 16px;
    font-weight: 500;
    color: #031c4e;
}

#section_development .text_blue {
    display: inline-block;
    margin-top: 35px;
}

#section_development .chavron_left {
    position: absolute;
    top: 50%;
    left: -11%;
    transform: translateY(-50%);
}
   

#section_development .chavron_right{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    
}

.circles{
    margin-top: 40px;
}

/* section 7/7 */

#section_started{
    padding-top: 50px;
    padding-bottom: 51px;
    background-image: linear-gradient(#0044c3, #001e9a);
}
#section_started button{
    font-weight: 500;
    color: #0771ff;
}

.ms_btn_opacity{
    transition: 1s ;
}

#section_started .ms_btn_opacity:hover{
    opacity: 0,5;
    
    background-color: #006aff;
    color: #fff;
}

/* footer */

#footer{
    padding-top: 52px;
    padding-bottom: 50px;
    background-color: #031c4e;
}

#footer .paragraph{
    font-size: 15px;
}

#footer .footer_text_left{
    font-size: 15px;
    color: #7a859d;
}

.ms_social li{
    font-size: 25px;
    padding: 5px;
    list-style: none;
    display: inline-block;
}

.ms_social a{
    color: #7a859d;
}

footer li {
    
    padding: 5px;
    list-style: none; 
}

footer li a{
    font-weight: 500;
    text-decoration: none;
    color: #9fa6b8;
}

.strong_li{
    font-weight: 700;
    font-size: 18px;
    color: white;
}

footer a:hover{
    text-decoration: none;
    color: white;
}

.margin_left_0{
    margin-left: 0;
}


@media screen and (max-width: 500px){
    .container_xs{
        width: 98%;
    }
     /* section 3/7 */
    #section_designed img {
        width: 70%;
    }

    .chavron_left,
    .chavron_right{
        padding: 10px;
        font-size: 25px;
    }

    #section_service:not(h2){
        font-size: 10px;
    }
    
}



/* sm - md */
@media screen and (min-width: 768px) and (max-width:1199px){

    h1{
        font-size: 47px;
    }
    .ms_button {
        display: inline-block;
    }

    .navbar-nav>li>a {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .nav>li>a {
        position: relative; 
        display: inline-block; 
        padding: 10px 15px;
    }

    .ms_container_list_hidden{
        padding: 0;
    }

    

    .collapse.ms_container_list_none {
    display: none !important;
    }

    .show.ms_container_list_none {
        display: block!important;
    }

    /* section 1/7 */

   #images_businesses img{
        max-height: 200px;
        width: 14%;
        margin: 5px;
        
    }

    /* section 3/7 */
    #section_deploy > .container_xs{
        width: 100%;
    }
    .width_80_lg_100_xs_md{
        width: 100%;
    }
    #section_deploy .paragraph_2{
        
        padding-right: 30px;
    }

    /* section 5/7 */
    .margin_left_0{
        margin-bottom: 15px;
        margin-left: 0;
    }

    /* section 6/7 */
    #section_development .container{
        width: 50%;
    }

    #section_development .chavron_left {
        position: absolute;
        top: 50%;
        left: -18%;
        transform: translateY(-50%);
    }
}




@media screen and (max-width: 768px){
    h1 {
        font-size: 40px;
        font-weight: 600;
        
    }
    .width_80_lg_100_xs_md{
        width: 100%;
    }
    .container_xs{
        width: 95%;
    }

    .nav>li>a {
        position: relative; 
        display: inline-block; 
        padding: 10px 15px;
    }
    .ms_container_list_hidden{
        padding: 0;
    }

    /* section 1/7 */

    #images_businesses img{
        max-height: 150px;
        width: 100%;
        margin: 5px;
    }
    

    /* section 2/7 */
    #section_deploy > .container_xs{
        padding-left: 0;
        margin-left: 0;
    }

    /* section 3/7 */
    #section_designed img {
   
        width: 100%;
    }

    #section_designed .container{
        width: 55%;
    }

    #section_designed .paragraph_2{
        font-size: 14px;
        color: #0f2656;
    }


    #section_designed .chavron_left,
    #section_designed .chavron_right{
        display: none;
    }

    .circles{
        font-size:10px ;
    }

    /* section 5/7 */
    .margin_left_0{
        margin-bottom: 15px;
        margin-left: 0;
    }
    

    /* section 6/7 */

    #section_development .chavron_left,
    #section_development .chavron_right{
        display: none;
    }

    

    #section_development img {
        width: 98%;
    }

    #section_development .text_blue {
        margin-top: 20px;
    }

    .background_white{
        margin: 50px auto 0 auto;
        width: 50%;
        padding-bottom: 50px;
    }

    
    .color_section_6 {
        font-size: 14px;
        font-weight: 700;
        color: #031c4e;
    }


    .font_weight-500 {
        font-size: 14px;
        font-weight: 500;
        color: #031c4e;
    }

    .circles {
        margin-top: 25px;
        font-size: 10px;
    }

    /* section 7/7 */
    #section_started h2{
        margin-bottom: 20px;
        font-size: 30px;
    }

   
    
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .container_sm_md{
        width: 95%;
    }
    /* section 3/7 */
    #section_designed img {
        width: 45%;
    }
    
}



