/* reset option */
* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}

/* common */

body {
    font-family: 'Inter', sans-serif;
    background-color: aqua;
}
.yellow {
    height: 200px;
    background-color: yellow;
    border: 2px solid black;
}

.green {
    height: 200px;
    background-color: rgba(50, 255, 50, 0.2);
    border: 1px solid black;
   
}

.width_80 {
    width: 80%;
}

h1{
    font-size: 60px;
    font-weight: 600;
    /* text-shadow: 1px 1px black; */
    color: white;
}
h2 {
    color: #031c4e;
    font-weight: 600;
    font-size: 31px;
}

h4{
    
    font-weight: 700;
    color: #031c4e;
}

.blue{
    color: #006aff;
}

.paragraph {
    font-weight: 500;
    font-size: 21px;
    color: #bbcdff;
}

.font_mini{
    padding-bottom: 35px;
    font-weight: 600;
    font-size: 13px;
    color: #34476f;
}

.text_decoration {
    color: #2a82ff;
    text-decoration: underline;
}


form {
    padding:10px;
}

input{
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px;
    width: 100%;
    font-weight: 500;
    border: 1px solid lightgray;
}

.button_jumbotron{
    margin: 5px 0px;
    width: 100%;
}

.margin_top{
    margin-top: 40px;
}

.inline_block{
    width: 30px;
    height: 50px;
    background-color: yellow;
    display: inline-block;
}

.list_style_2{
    font-weight: 500;
    padding: 10px;
    font-size: 18px;
    list-style: none;
    color: #79839c;
}

#div1{
    width: 30%;
    display: inline-block;
}
#div2{
    width: 70%;
    display: inline-block;

}

/* bar_top_fixed */
#container-nav-fixed {
    /* position: fixed;
    width: 100%; */
    background-color: white;
}

.nav_fixed {
    height: 60px;
    line-height: 60px;
    background-color: white;
}

.list_style {
    vertical-align: middle; 
    padding: 0px 10px;
    font-weight: 600;
    display: inline-block;
}

.list_style > a{
    font-size: 15px;
    vertical-align: middle;
    color: #0b2353;
}

/* logo in nav bar fixed top */
#logo {
    vertical-align: middle;
    width: 200px;
}

.ms_button { 
    float: none;
    vertical-align: middle;
}
.ms_container_list_hidden {
    
}
.ms_icon_3_span {
    background-color:#3a8aff;
}
/* bar-top-fixed */

/* header */
#ms_jumbotron{
    padding-top: 60px;
    padding-bottom: 70px;
    background-image: url(../img/bg-banner-home.jpg);
   
}

#jumbotron_right {
    height: 80%;
    border-radius: 5px;
    background-color: white;
}
#button_google{
    position: relative;
}
#google_icon {
    position: absolute;
    top: 15%;
    left: 1%;
    width: 5%;
}


/* main */

/* section 1/7 */
#section_businesses{
    padding-top: 50px;
    padding-bottom: 40px;
    background: #f3f5f9;
}
#h4_section_businesses{
    font-size: 17px;
    color: #737e9a;
}

#images_businesses{
    padding: 20px;
}
#images_businesses > img{
    height: 100px;
    margin: 5px;
}

.text_blue{
    font-weight: 600;
    font-size: 15px;
    color: #0f72fe;
}

/* section 2/7 */
#section_deploy {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}

#section_deploy p {
    color: #5c6a88;
}

#section_deploy img{
    margin-bottom: 10px;
}

#section_deploy .paragraph_2{
    font-size: 15px;
    margin-bottom: 35px;
    font-weight: 500;
    color: #606e8b;
}


#section_deploy ul{
    margin-top: 40px;
    border-left: 2px solid lightgray;
}

.container_nested{
    margin-top: 30px;
}


/* section 3/7 */
#section_designed {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f3f5f9;
}

#section_designed > .paragraph {
    color: #586686;
}

#section_designed > .paragraph_2 {
    font-size: 17px;
    margin-top: 20px;
    font-weight: 500;
    color: #031c4e;
}

#section_designed img {
   
    width: 30%;
}


#slide_chavron{
    margin-top: 70px;
}

.cirlce_color{
    color: #006aff;
}

.chavron_left{
    padding: 20px;
    font-size: 40px;
    color:#031c4e ;
    opacity: 0.5;
    
}

.chavron_right{
    padding: 20px;
    font-size: 40px;
    color:#031c4e ;
}


/* footer */


























/* sm - md */
@media screen and (min-width: 768px) and (max-width:1200px){
    .ms_button {
        display: inline-block;
    }

    .collapse.ms_container_list_none {
    display: none !important;
    }

    .show.ms_container_list_none {
        display: block!important;
    }
}
/* container_sm_md */

/* container_xs */
@media screen and (max-width: 768px){
    .container_xs{
        width: 98%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    .container_sm_md{
        width: 95%;
    }
}



